<tui-loader
  class="inline-flex tui-space_right-2"
  [loading]="loading"
  [inheritColor]="true"
  [overlay]="true"
>
  <tui-textfield [disabledControl]='disabledControl'>
    <label tuiLabel>{{ label }} <b *ngIf='required' class='text-red-500'>*</b></label>
    <input tuiComboBox [formControl]='searchControl' (input)="searchChange($event.target.value)" [placeholder]="placeholder" />
    <ng-container *tuiDropdown>
      @let opts = options | tuiFilterByInput: filterWithMatcher;
      <cdk-virtual-scroll-viewport
        tuiScrollable
        class="scroll"
        [style.height.px]="opts.length * 44"
        [itemSize]="44"
        (scrolledIndexChange)="list.handleFocusLossIfNecessary()"
      >
        <tui-data-list #list>
          <button
            *cdkVirtualFor="let opt of opts"
            tuiOption
            [value]="opt"
          >
            {{ opt }}
          </button>
        </tui-data-list>
      </cdk-virtual-scroll-viewport>
    </ng-container>
  </tui-textfield>
</tui-loader>

<tui-error
  *ngIf='control.touched'
  [formControl]='control'
></tui-error>

<ng-template #itemContent let-item>
  {{ item.label }}
</ng-template>
