<label style='min-height: 0' class="mb-3">{{ label }} <b *ngIf='required' class='text-red-500'>*</b></label>
<tui-loader
  class="inline-flex tui-space_right-2"
  [loading]="loading"
  [inheritColor]="true"
  [overlay]="true"
>
  <div class='time-slots-container'>
    <div *ngFor='let slots of Slots' class='time-slots'>
      <div *ngFor='let item of slots' class='slot'>
        <button
          class='flex justify-center border rounded-full py-3 cursor-pointer'
          [class.default]='control.value !== item.value'
          [class.selected]='control.value === item.value'
          vcbClickStopPropagation
          (click)='onTimeSlotSelect(item.value)'
          [disabled]='disableTimes.includes(item.value) || disabledControl'
        >
          {{ item.label }}
        </button>
      </div>
    </div>
  </div>
</tui-loader>

<tui-error
  *ngIf='control.touched'
  [formControl]='control'
  
></tui-error>

<ng-template #tmpLabel>
  {{ label }} <b *ngIf='required' class='text-red-500'>*</b>
</ng-template>
