<label class='bold' style='min-height: 0'>{{ label }} <b *ngIf='required' class='text-red-500'>*</b></label>
<input [formControl]="control" hidden />

<div class='row g-5' *ngIf='control.value && control.value.length'>
  <div *ngFor='let file of control.value; let i = index' class='col-12'>
    <div class='flex items-center justify-between w-full py-5 px-6 border rounded-lg border-gray-300'>
      <div class='flex items-center w-5/6'>
        <p class='w-8 h-8' [style.background-image]="'url(/assets/icons/document-text.svg)'"></p>
        <div class='flex flex-col text-left ml-2 md:ml-4 w-5/6'>
          <b class='text-ellipsis overflow-hidden'>{{ file.name }}</b>
          <p class='text-xs text-gray-400'>{{file.size | fileSize}}</p>
        </div>
      </div>
      <button
        tuiIconButton
        size="s"
        icon="tuiIconCloseLarge"
        appearance=""
        (mousedown)="$event.preventDefault()"
        (click)='removeFile(i)'
      ></button>
    </div>
  </div>
</div>

<ng-container *ngIf='(!control.value || !control.value.length) || this.multiple'>
  <button
    class='flex items-center justify-center w-full py-5 border rounded-lg border-dashed border-gray-300 hover:bg-gray-100'
    [class.bg-gray-100]='fileDragged'
    (drop)='onDropped($event)'
    (dragover)='onDragOver($event)'
    (dragleave)='onDragLeave()'
    (click)='fileInput.click()'
  >
    <p class='w-8 h-8' [style.background-image]="'url(/assets/icons/document-cloud.svg)'"></p>
    <div class='flex flex-col text-left ml-2 md:ml-4'>
      <div class='flex'>
        <a class='!font-semibold !text-sm md:!text-base' tuiLink>Chọn tập tin&nbsp;</a>
        <p class='font-semibold text-sm md:text-base'>hoặc kéo và thả để tải lên</p>
      </div>
      <p class='text-xs text-gray-400'>Giới hạn dung lượng {{maxFileSizeInMb}} MB</p>
    </div>
  </button>
  <input
    #fileInput
    hidden
    type="file"
    (change)="onChange($event); fileInput.value = ''"
    [accept]="accept"
  />
</ng-container>

<tui-error
  *ngIf='control.touched'
  [formControl]='control'
  
></tui-error>

<tui-error
  *ngIf="control.touched && maxFileSize"
  error='Dung lượng vượt quá dung lượng tối đa cho phép'
></tui-error>
<tui-error
  *ngIf="control.touched && invalidFileType"
  error='Định dạng tập tin hiện tại không hỗ trợ'
></tui-error>

<ng-template #tmpLabel>
  {{ label }} <b *ngIf='required' class='text-red-500'>*</b>
</ng-template>
