.page {
  max-width: 960px;
  margin: 0 auto;
  padding: 24px;
  background: var(--color-text-inverse);
  border: 1px solid var(--color-border-primary-brand);
  border-radius: 16px;
  margin-top: 24px;
}
